body {
  width: 800px;
  height: 400px;
  background: url(./images/background.jpg) top left no-repeat;
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif;
}
.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: center;
}
.signature {
  position: relative;
  display: inline-block;
}
.arrow {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -20px;
}
.avatar-wrapper {
  position: relative;
  display: block;
  margin-right: 0;
  width: 95px;
  height: 95px;
  background: red;
  margin: 25px auto;
  border: 3px solid #fff;
}
.avatar {
  display: block;
  width: 108px;
  height: 108px;
  background-size: cover;
  border-radius: 50%;
}
.info {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 63px;
  left: 0;
}
.name {
  color: #fff;
  font-size: 22px;
  margin-bottom: 4px;
}
.location {
  color: #ec7063;
  font-size: 22px;
}
.spacer {
  color: #fff;
  font-size: 2em;
  line-height: 0;
  position: relative;
  top: -3px;
  padding: 0 10px;
}
